{% extends 'base.html' %}
{% load static %}

{% block Titulo%}Sobre Nós{% endblock %}

{% block content %}

<main class="container">

  <div class="text-center">
    <h1 class="display-5 mt-5">Sobre Nós</h1>
    <hr class="mb-5 w-25 mx-auto">
  </div>

  <!--QUEM SOMOS-->

  <section class="my-5">
    <div class="row justify-content-center align-items-center">
      <div class="col-12 col-md-6">
        <h3 class="ms-5 mb-3 text-center">QUEM SOMOS</h3>
        <p class="paragraph poppins-light">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, nemo? 
          Repellat magnam ipsam accusamus illum quam vel minima, repudiandae est nulla 
          id voluptates reprehenderit error numquam fugiat? Iste, expedita necessitatibus!
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, nemo? 
          Repellat magnam ipsam accusamus illum quam vel minima, repudiandae est nulla 
          id voluptates reprehenderit error numquam fugiat? Iste, expedita necessitatibus!
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, nemo? 
          Repellat magnam ipsam accusamus illum quam vel minima, repudiandae est nulla 
          id voluptates reprehenderit error numquam fugiat? Iste, expedita necessitatibus!
        </p>
      </div>
      <div class="col-12 col-md-4 d-none d-md-block">
        <img src="{% static 'IMG/logo-JS.png' %}" alt="" class="img-fluid">
      </div>
    </div>
  </section>
  <br><br>

  <!--MISSÃO/VISÃO/VALORES-->

  <section class="my-5">

    <!--ROW DESKTOP-->

    <div class="d-none d-md-block">
      <div class="row justify-content-center">
        <!--MISSÃO-->
        <div class="col-md-3 mx-auto col-12 value">
          <img src="{% static 'IMG/logo-JS.png' %}" alt="" class="img-fluid">
          <div class="text-center">
            <h3 class="poppins-regular display-3">MISSÃO</h3>
            <p class="paragraph poppins-light">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae ad unde nulla? Necessitatibus omnis sit optio</p>
          </div>     
        </div>
        <!--VISÃO-->
        <div class="col-md-3 mx-auto col-12 value">
          <img src="{% static 'IMG/logo-JS.png' %}" alt="" class="img-fluid">
          <div class="text-center">
            <h3 class="poppins-regular display-3">VISÃO</h3>
            <p class="paragraph poppins-light">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae ad unde nulla? Necessitatibus omnis sit optio</p>
          </div>     
        </div>
        <!--VALORES-->
        <div class="col-md-3 mx-auto col-12 value">
          <img src="{% static 'IMG/logo-JS.png' %}" alt="" class="img-fluid">
          <div class="text-center">
            <h3 class="poppins-regular display-3">VALORES</h3>
            <p class="paragraph poppins-light">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae ad unde nulla? Necessitatibus omnis sit optio</p>
          </div>     
        </div>
        
      </div>
    </div>

    <!--CARROSSEL MOBILE-->

    <div class="d-block d-md-none">
      <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            
            <div class="col-7 mx-auto value">
              <img src="{% static 'IMG/logo-JS.png' %}" alt="" class="img-fluid">
              <div class="text-center">
                <h3 class="poppins-regular display-3">VALOR</h3>
                <p class="paragraph poppins-light text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae ad unde nulla? Necessitatibus omnis sit optio</p>
              </div>     
            </div>
            
          </div>
          <div class="carousel-item">
            
            <div class="col-7 mx-auto value">
              <img src="{% static 'IMG/logo-JS.png' %}" alt="" class="img-fluid">
              <div class="text-center">
                <h3 class="poppins-regular display-3">VALORES</h3>
                <p class="paragraph poppins-light text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae ad unde nulla? Necessitatibus omnis sit optio</p>
              </div>     
            </div>

          </div>
          <div class="carousel-item">
            
            <div class="col-7 mx-auto value">
              <img src="{% static 'IMG/logo-JS.png' %}" alt="" class="img-fluid">
              <div class="text-center">
                <h3 class="poppins-regular display-3">VALOR</h3>
                <p class="paragraph poppins-light text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae ad unde nulla? Necessitatibus omnis sit optio</p>
              </div>     
            </div>

          </div>
        </div>
      </div>
    </div>
    
  </section>
  <br><br>

  <!--EQUIPE-->

  <section class="my-5">
    <h1 class=" my-5 text-center">NOSSA EQUIPE</h1>


    <!--EQUIPE FULLSCREEN-->
    <div class="d-md-block d-none">

      <div class="row justify-content-center align-items-center mb-5">
      
        <div class="col-6 col-md-4">
          <h3 class="mb-3 text-center">JOÃO PAULO</h3>
          <p class="paragraph poppins-light">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, nemo? 
            Repellat magnam ipsam accusamus illum quam vel minima, repudiandae est nulla 
            id voluptates reprehenderit error numquam fugiat? Iste, expedita necessitatibus!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, nemo?
          </p>
        </div>
        <div class="col-6 col-md-4">
          <img src="{% static 'IMG/logo-JS.png' %}" alt="" class="img-fluid">
        </div>
  
      </div>
  
  
      <div class="row justify-content-center align-items-center mb-5">
  
        
        <div class="col-6 col-md-4">
          <img src="{% static 'IMG/logo-JS.png' %}" alt="" class="img-fluid">
        </div>
        <div class="col-6 col-md-4">
          <h3 class="mb-3 text-center">SUZIANE DE QUEIROZ</h3>
          <p class="paragraph poppins-light">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, nemo? 
            Repellat magnam ipsam accusamus illum quam vel minima, repudiandae est nulla 
            id voluptates reprehenderit error numquam fugiat? Iste, expedita necessitatibus!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, nemo?
          </p>
        </div>
  
      </div>

    </div>

    <!--EQUIPE RESPONSIVO-->

    <div class="d-block d-md-none">
      <div class="row justify-content-center">
        <div class="col-10">

          <a class="" data-bs-toggle="modal" data-bs-target="#ModalJP">
            <img src="{% static 'IMG/logo-JS.png' %}" alt="" class="img-fluid rounded-circle">
          </a>
          
          <!-- Modal -->
          <div class="modal fade" id="ModalJP" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <div class="row justify-content-center">
                    <div class="col-8">
                      <img src="{% static 'IMG/logo-JS.png' %}" alt="" class="img-fluid rounded-circle">
                      <h1 class="text-center mb-3">João Paulo</h1>
                    </div>
                    <div class="col-12">
                      <p class="paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, modi ut dolore exercitationem accusantium accusamus iure, odit hic animi excepturi illum illo blanditiis explicabo incidunt ratione doloremque totam laudantium culpa.</p>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Fechar</button>
                </div>
              </div>
            </div>
          </div>

        </div>


        <div class="col-10">

          <a class="" data-bs-toggle="modal" data-bs-target="#ModalSQ">
            <img src="{% static 'IMG/logo-JS.png' %}" alt="" class="img-fluid rounded-circle">
          </a>
          
          <!-- Modal -->
          <div class="modal fade" id="ModalSQ" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <div class="row justify-content-center">
                    <div class="col-8">
                      <img src="{% static 'IMG/logo-JS.png' %}" alt="" class="img-fluid rounded-circle">
                      <h1 class="text-center mb-3">Suzi Queiroz</h1>
                    </div>
                    <div class="col-12">
                      <p class="paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, modi ut dolore exercitationem accusantium accusamus iure, odit hic animi excepturi illum illo blanditiis explicabo incidunt ratione doloremque totam laudantium culpa.</p>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Fechar</button>
                </div>
              </div>
            </div>
          </div>

        </div>



      </div>
    </div>
  </section>
  <br><br>

</main>

{% endblock %}