{% extends 'base.html' %}
{% load static %}

{% block Titulo%}Página Inicial{% endblock %}

{% block content %}


<section class="bg-white">
  <!--OUTDOOR-->
  <img class="img-lg img-fluid" src="{% static 'IMG/banner-outdoor-lg.png' %}" alt="">
  <img class="img-md img-fluid" src="{% static 'IMG/banner-outdoor-md.png' %}" alt="">
  <img class="img-sm img-fluid" src="{% static 'IMG/banner-outdoor-sm.png' %}" alt="">

  <!--PESQUISA DE IMÓVEL-->
  <div class="container">
    <br>
    <h5 class="text-center">Encontre seu imóvel ideal</h5>
    <br>
    <div class="row justify-content-center align-items-center">
      <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
        <h6>Tipo do Imóvel</h6>
        <select class="form-select shadow-sm" aria-label="Default select example">
          <option selected>Selecione</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
      </div>
      <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
        <h6>Valor mínimo</h6>
        <div class="">
          <input type="email" class="form-control shadow-sm" id="exampleFormControlInput1" placeholder="R$ 0,00">
        </div>
      </div>
      <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
        <h6>Valor Máximo</h6>
        <div class="">
          <input type="email" class="form-control shadow-sm" id="exampleFormControlInput1" placeholder="R$ 0,00">
        </div>
      </div>
      <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
        <h6>Bairro</h6>
        <select class="form-select shadow-sm" aria-label="Default select example">
          <option selected>Selecione</option>
          <option value="1">Vila Pery</option>
          <option value="2">Parangaba</option>
          <option value="3">Moudubim</option>
          <option value="4">Parque São José</option>
          <option value="5">Maraponga</option>
          <option value="6">Bonsucesso</option>
          <option value="7">Montese</option>
        </select>
      </div>
      <div class="col-lg-5 col-md-8 col-sm-10 col-xs-12 text-center">
        <br>
        <button type="button" class="btn btn-dark col-lg-4 col-md-3 col-sm-4 col-xs-6"><h5 class="poppins-light">Pesquisar</h5></button>
      </div>
    </div>
    <br>
  </div>
</section>

<section class="container">
  <br><br>

  <h1 class="text-center poppins-light display-5">Imóveis em Destaque</h1>

  <br><br>
  <!--CARDS IMÓVEIS-->
  <div class="row justify-content-center">
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 p-4">
      <div class="card p-3" style="width: 18rem;">
        <img src="{% static 'IMG/logo-JS.png' %}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text poppins-light">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="" class="navbar-link">Clique e saiba mais</a>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 p-4">
      <div class="card p-3" style="width: 18rem;">
        <img src="{% static 'IMG/logo-JS.png' %}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text poppins-light">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="" class="navbar-link">Clique e saiba mais</a>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 p-4">
      <div class="card p-3" style="width: 18rem;">
        <img src="{% static 'IMG/logo-JS.png' %}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text poppins-light">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="" class="navbar-link">Clique e saiba mais</a>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 p-4">
      <div class="card p-3" style="width: 18rem;">
        <img src="{% static 'IMG/logo-JS.png' %}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text poppins-light">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="" class="navbar-link">Clique e saiba mais</a>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 p-4">
      <div class="card p-3" style="width: 18rem;">
        <img src="{% static 'IMG/logo-JS.png' %}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text poppins-light">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="" class="navbar-link">Clique e saiba mais</a>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 p-4">
      <div class="card p-3" style="width: 18rem;">
        <img src="{% static 'IMG/logo-JS.png' %}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text poppins-light">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="" class="navbar-link">Clique e saiba mais</a>
        </div>
      </div>
    </div>
    
  </div>

  <br><br>
</section>


{% endblock %}