:root {
  --white: #F6F6F6;
  --dark-white: #E8E8E8;
  --black: #333333;
  --dark-red: #990100;
  --red: #B90504;
}

.box-area {
  width: 930px;
}

.login-link {
  color: var(--red);
}

@media only screnn and (max-width:768px){
  .box-area{
    margin: 0 10px;
  }

  .lef-box{
    height: 100px;
    overflow: hidden;
  }
}